.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.credentialsForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__qiygH {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qiygH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__qiygH > :global(.__wab_flex-container) > *,
.freeBox__qiygH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qiygH > :global(.__wab_flex-container) > picture > img,
.freeBox__qiygH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__czGsx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: #ffffff;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 8px;
}
.svg__cd0R6 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #4fa4e2;
  flex-shrink: 0;
}
.formField___8AXBz:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.text__kpD3 {
  color: #ffffff;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
.svg__cp3DZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jbGod {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__qiidh {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__qiidh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__qiidh > :global(.__wab_flex-container) > *,
.freeBox__qiidh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qiidh > :global(.__wab_flex-container) > picture > img,
.freeBox__qiidh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxmode_signIn__qiidhEuSr {
  display: none;
}
.freeBoxmode_signUp__qiidhUj4Os {
  display: flex;
}
.freeBox__ymKWg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: #ffffff00;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 8px;
}
.svg__qy45W {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #ffffff00;
  flex-shrink: 0;
}
.formField___2MvUv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.text___0RJvJ {
  color: #ffffff;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
.svg__dxruq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z4XQz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__ioBlp {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__ioBlp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ioBlp > :global(.__wab_flex-container) > *,
.freeBox__ioBlp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioBlp > :global(.__wab_flex-container) > picture > img,
.freeBox__ioBlp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxmode_signIn__ioBlpEuSr {
  display: none;
}
.freeBoxmode_signUp__ioBlpUj4Os {
  display: flex;
}
.freeBox__hmoDq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: #ffffff00;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 8px;
}
.svg__epKPm {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #4fa4e200;
  flex-shrink: 0;
}
.formField__p6Etl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.text__jqHD {
  color: #ffffff;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
.svg___48Z5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uqncS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__xbnH9 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 21px;
  min-width: 0;
  padding: 0px;
}
.freeBox__xbnH9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__xbnH9 > :global(.__wab_flex-container) > *,
.freeBox__xbnH9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbnH9 > :global(.__wab_flex-container) > picture > img,
.freeBox__xbnH9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__l3X2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: #ffffff;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 8px;
}
.svg__xf6SA {
  object-fit: cover;
  max-width: 100%;
  color: #4fa4e2;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.formField__pvdSx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
.text__xmRmy {
  color: #ffffff;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
}
.svg__ximVr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yOdP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__rlv3H {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-bottom: 31px;
  padding: 8px 8px 8px 80px;
}
.freeBoxmode_signUp__rlv3HUj4Os {
  display: none;
}
.text___8EItw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  color: #ffffff;
  align-self: center;
  padding-left: 0px;
  margin-left: 0px;
  cursor: pointer;
}
.freeBox___39DcW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-bottom: 31px;
  padding: 8px 8px 8px 80px;
}
.text___4B5Rl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  color: #957e7e;
  align-self: center;
  padding-left: 0px;
  margin-left: 0px;
  cursor: pointer;
}
.freeBox__qVxIy {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qVxIy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__qVxIy > :global(.__wab_flex-container) > *,
.freeBox__qVxIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qVxIy > :global(.__wab_flex-container) > picture > img,
.freeBox__qVxIy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__kYWa6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 8px;
}
.svg__fF2I {
  object-fit: cover;
  max-width: 100%;
  color: #4fa4e2;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rAncL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 35px;
  height: 35px;
  align-self: center;
  margin-top: 15px;
  margin-left: 65px;
}
