.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.rooteventStep_step1 > * {
  grid-column: 4;
}
.rooteventStep_step2 > * {
  grid-column: 4;
}
.rooteventStep_step3 > * {
  grid-column: 4;
}
.rooteventState_editStep1 {
  padding: 50px;
}
.rooteventState_editStep1 > * {
  grid-column: 4;
}
.rooteventState_editStep3 > * {
  grid-column: 4;
}
.freeBox__rad0X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 200px;
}
.freeBox__rad0X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__rad0X > :global(.__wab_flex-container) > *,
.freeBox__rad0X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rad0X > :global(.__wab_flex-container) > picture > img,
.freeBox__rad0X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.options:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 50px;
}
.optionseventState_editStep1:global(.__wab_instance) {
  margin-bottom: 25px;
}
.newEvent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.newEventeventState_editStep1 {
  display: none;
}
.newEventeventState_editStep2 {
  display: none;
}
.newEventeventState_editStep3 {
  display: none;
}
.eventName:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventNameeventStep_step2:global(.__wab_instance) {
  display: none;
}
.eventNameeventStep_step3:global(.__wab_instance) {
  display: none;
}
.eventNameeventState_editStep3:global(.__wab_instance) {
  display: flex;
}
.text__cHfIu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.formField__nIwXc:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__y21PE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qMize {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__aMmlT:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___1MvBg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 0px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.formField__hmJi:global(.__wab_instance) {
  width: 500px;
  margin-bottom: 24px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gaQgy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cah6H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField___4Etg0:global(.__wab_instance) {
  width: 500px;
  margin-bottom: 24px;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4Xr8J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jLv2M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yJ9E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__dUb5H:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jk5Zw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.eventCalendar:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventCalendareventStep_step1:global(.__wab_instance) {
  display: none;
}
.eventCalendareventStep_step2:global(.__wab_instance) {
  display: flex;
}
.eventCalendareventStep_step3:global(.__wab_instance) {
  display: none;
}
.text__clqZn {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.freeBox__br0E4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.datesFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jjtWn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__jjtWn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__jjtWn > :global(.__wab_flex-container) > *,
.freeBox__jjtWn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jjtWn > :global(.__wab_flex-container) > picture > img,
.freeBox__jjtWn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.formField___2Hg0R:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__wG0Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__k2XNk:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__tc4Bz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__ul02L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wgln0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField___3Yq71:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__hvJrX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__royWy:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__dhBxo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__cqonT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ni7Xy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dh4Nd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__ivewv {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.button___34O0V:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 25px;
}
.svg__hzCjR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__z03Gh {
  padding-bottom: 0px;
}
.svg__fLSi2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___2YvSl {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox___2YvSl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___2YvSl > :global(.__wab_flex-container) > *,
.freeBox___2YvSl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2YvSl > :global(.__wab_flex-container) > picture > img,
.freeBox___2YvSl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxeventStep_step2___2YvSl44F2Z {
  display: flex;
}
.button__xxPm:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 100%;
  min-height: 0;
}
.svg__lOIa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step2__lOIa44F2Z {
  display: none;
}
.svg__hPuC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fbJa4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.text__jGReF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.eventCalendar2:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventCalendar2eventStep_step1:global(.__wab_instance) {
  display: none;
}
.eventCalendar2eventStep_step2:global(.__wab_instance) {
  display: none;
}
.eventCalendar2eventStep_step3:global(.__wab_instance) {
  display: flex;
}
.text__m7Gss {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__neq51 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.freeBox__neq51 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__neq51 > :global(.__wab_flex-container) > *,
.freeBox__neq51 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neq51 > :global(.__wab_flex-container) > picture > img,
.freeBox__neq51
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.button__lTIh4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__caVdH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3__caVdHemNtK {
  display: none;
}
.svg___1W6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__etres:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qGmup {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3__qGmupEmNtK {
  display: none;
}
.svg__oT8Nd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__lQ8DS:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4YddW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3___4YddWemNtK {
  display: none;
}
.svg__n7Wb6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___6EbTx {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__xTHb1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__yOrNv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___2CNsw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___6InHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gkSZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jLovo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__u72Rm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___9QJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___13Cr4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.text___9JIbo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pxQmN {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pxQmN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__pxQmN > :global(.__wab_flex-container) > *,
.freeBox__pxQmN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pxQmN > :global(.__wab_flex-container) > picture > img,
.freeBox__pxQmN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.paidFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__dS70F {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pVl2C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__bJzZj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__w2UwW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__dIXjh:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text___2Jz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__g9DxJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__aQW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text__bhgaJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qrtvl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.formField___4ZVlt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text__rSldN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__blv8L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__blv8L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__blv8L > :global(.__wab_flex-container) > *,
.freeBox__blv8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__blv8L > :global(.__wab_flex-container) > picture > img,
.freeBox__blv8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox___7Nl3H {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 8px;
}
.svg__wn4Bx {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wxK1B {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox___5WSaW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__q2Gme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kdRhf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__twbe3:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__oZcXd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uAiUy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__zleBa:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__sjVxZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__pmjk4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField___2RMwm:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___29Ain {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___9XbdE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__pPeIq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pPeIq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__pPeIq > :global(.__wab_flex-container) > *,
.freeBox__pPeIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPeIq > :global(.__wab_flex-container) > picture > img,
.freeBox__pPeIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__w2Fen {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg___3KyVt {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.donationFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hEgIc {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__vveOs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__mEg2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tSnQz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__lXei:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__vse3Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yZPw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__o3VPk:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__p3TgU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___7Flve {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.formField__fw1FK:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text___0KpA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vLpRq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__sq5SE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sq5SE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__sq5SE > :global(.__wab_flex-container) > *,
.freeBox__sq5SE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sq5SE > :global(.__wab_flex-container) > picture > img,
.freeBox__sq5SE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__lvs4R {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__ywUdF {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__hyE9K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hyE9K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__hyE9K > :global(.__wab_flex-container) > *,
.freeBox__hyE9K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hyE9K > :global(.__wab_flex-container) > picture > img,
.freeBox__hyE9K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__xQYat:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__xxgS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg__iRttv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__aCbq1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.text__ysYRs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editEvent {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.editEvent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.editEvent > :global(.__wab_flex-container) > *,
.editEvent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEvent > :global(.__wab_flex-container) > picture > img,
.editEvent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.editEventeventState_editStep1 {
  display: flex;
}
.editEventeventState_editStep2 {
  display: flex;
}
.editEventeventState_editStep3 {
  display: flex;
}
.text__chqR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__hQcLc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editEventName {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventName > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventName > :global(.__wab_flex-container) > *,
.editEventName > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventName > :global(.__wab_flex-container) > picture > img,
.editEventName
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventNameeventState_editStep2 {
  display: none;
}
.editEventNameeventState_editStep3 {
  display: none;
}
.freeBox__eNpeZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eNpeZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__eNpeZ > :global(.__wab_flex-container) > *,
.freeBox__eNpeZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eNpeZ > :global(.__wab_flex-container) > picture > img,
.freeBox__eNpeZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__f6Jmt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editName:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cLgu2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zuc2M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hGaLd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hGaLd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__hGaLd > :global(.__wab_flex-container) > *,
.freeBox__hGaLd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hGaLd > :global(.__wab_flex-container) > picture > img,
.freeBox__hGaLd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__d8Tfr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editDescription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kf2Af {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kf2Af > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__kf2Af > :global(.__wab_flex-container) > *,
.freeBox__kf2Af > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kf2Af > :global(.__wab_flex-container) > picture > img,
.freeBox__kf2Af
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__xK7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox___5A37 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5A37 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___5A37 > :global(.__wab_flex-container) > *,
.freeBox___5A37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5A37 > :global(.__wab_flex-container) > picture > img,
.freeBox___5A37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text___0Hq0P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editAddress:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cmi7H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wInn9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ejg90 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ejg90 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__ejg90 > :global(.__wab_flex-container) > *,
.freeBox__ejg90 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ejg90 > :global(.__wab_flex-container) > picture > img,
.freeBox__ejg90
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text___4RnHu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editVenue:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3Puq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__djod0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zz7Q6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__ziHrH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__q0Asq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editEventCalendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventCalendar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventCalendar > :global(.__wab_flex-container) > *,
.editEventCalendar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventCalendar > :global(.__wab_flex-container) > picture > img,
.editEventCalendar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventCalendareventState_editStep1 {
  display: none;
}
.editEventCalendareventState_editStep2 {
  display: flex;
}
.editEventCalendareventState_editStep3 {
  display: none;
}
.freeBox__mbXtS {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox___3Zsj1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__rKo9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vQ2G {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___7Ie8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hc4My {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___9KS3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__batr9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fgafH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yGz58 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ph6Zk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.addDates {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qJmgl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addStartDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tGcc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addStartTime:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__j4HJi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addEndDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kR8D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addEndTime:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__q5De {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.button__tuirV:global(.__wab_instance) {
  max-width: 100%;
}
.svg___5HHHb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg___85Y2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7DqxR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7DqxR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___7DqxR > :global(.__wab_flex-container) > *,
.freeBox___7DqxR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7DqxR > :global(.__wab_flex-container) > picture > img,
.freeBox___7DqxR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.button__oWEh7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pAMuP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__qCRw:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gIZsX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventState_editStep1__gIZsXJw2KH {
  display: none;
}
.svg__tZMxa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editEventTickets {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventTickets > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventTickets > :global(.__wab_flex-container) > *,
.editEventTickets > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventTickets > :global(.__wab_flex-container) > picture > img,
.editEventTickets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventTicketseventState_editStep1 {
  display: none;
}
.editEventTicketseventState_editStep2 {
  display: none;
}
.freeBox__rvbC1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__iz9D8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__vcJsh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rrnIq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jlDjh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__igcdi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__v9FF7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zq4H7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ec7Cg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__a5Ygf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ky5Te {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.addTickets {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__rWEz3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addTicketType:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__yixI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketName:global(.__wab_instance) {
  max-width: 100%;
}
.svg__clAay {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Ores {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oBoL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketQuantity:global(.__wab_instance) {
  max-width: 100%;
}
.svg__z0NZm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1XOgn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fIlI2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rfbNt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bfuSv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___8LT3M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.button__r0Dxg:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4FFm3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg__ydOvq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___52Gqt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__gePrD:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0Xdia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jBjgf:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4Kszs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventState_editStep1___4KszsJw2KH {
  display: none;
}
.svg___0Zrk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__qLBk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
