.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.rooteventStep_step1 > * {
  grid-column: 4;
}
.rooteventStep_step2 > * {
  grid-column: 4;
}
.rooteventStep_step3 > * {
  grid-column: 4;
}
.rooteventState_editStep1 {
  padding: 50px;
}
.rooteventState_editStep1 > * {
  grid-column: 4;
}
.rooteventState_editStep3 > * {
  grid-column: 4;
}
.conditionGuard:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___89UqU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 200px;
}
.freeBox___89UqU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox___89UqU > :global(.__wab_flex-container) > *,
.freeBox___89UqU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___89UqU > :global(.__wab_flex-container) > picture > img,
.freeBox___89UqU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.options:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 50px;
}
.optionseventState_editStep1:global(.__wab_instance) {
  margin-bottom: 25px;
}
.newEvent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.newEventeventState_editStep1 {
  display: none;
}
.newEventeventState_editStep2 {
  display: none;
}
.newEventeventState_editStep3 {
  display: none;
}
.eventName:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventNameeventStep_step2:global(.__wab_instance) {
  display: none;
}
.eventNameeventStep_step3:global(.__wab_instance) {
  display: none;
}
.eventNameeventState_editStep3:global(.__wab_instance) {
  display: flex;
}
.text___67MdN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.formField__dwcsb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lwNvm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2KJgx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__gkEk8:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___8D1IR:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 0px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.formField__okdA:global(.__wab_instance) {
  width: 500px;
  margin-bottom: 24px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cobEh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fP49P {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.formField__xF0Qn:global(.__wab_instance) {
  width: 500px;
  margin-bottom: 24px;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lB1N8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2IeFs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox___5GpAi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___02Pdl:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2Qrqo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__at6TP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.eventCalendar:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventCalendareventStep_step1:global(.__wab_instance) {
  display: none;
}
.eventCalendareventStep_step2:global(.__wab_instance) {
  display: flex;
}
.eventCalendareventStep_step3:global(.__wab_instance) {
  display: none;
}
.text__uSjmq {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.freeBox__jd6PM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.datesFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___6FquU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox___6FquU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___6FquU > :global(.__wab_flex-container) > *,
.freeBox___6FquU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6FquU > :global(.__wab_flex-container) > picture > img,
.freeBox___6FquU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.formField__kemdO:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.text__txPgG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
}
.formField__r1NQ:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
.text__bkCGc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__rkOBx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xfAS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.formField___5N4A7:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text__czXy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___7Xisd:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.text___4Zpw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__zArBt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__x3Lxu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__kaKk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  border-radius: 15px;
  padding: 8px;
}
.root .freeBox__kaKk:hover {
  background: #f4dada;
}
.svg__cwFxi {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.button__d7X4:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 25px;
}
.svg__qI31E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l2M0L {
  padding-bottom: 0px;
}
.svg__y1QP5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sxYfF {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__sxYfF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__sxYfF > :global(.__wab_flex-container) > *,
.freeBox__sxYfF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxYfF > :global(.__wab_flex-container) > picture > img,
.freeBox__sxYfF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxeventStep_step2__sxYfFv0YbL {
  display: flex;
}
.button__dlRiM:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 100%;
  min-height: 0;
}
.svg___8Uavg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step2___8Uavgv0YbL {
  display: none;
}
.svg___08Cq0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vSmQ:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yjMsu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5Kme {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.eventCalendar2:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventCalendar2eventStep_step1:global(.__wab_instance) {
  display: none;
}
.eventCalendar2eventStep_step2:global(.__wab_instance) {
  display: none;
}
.eventCalendar2eventStep_step3:global(.__wab_instance) {
  display: flex;
}
.text__trQhs {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pfQnz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pfQnz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__pfQnz > :global(.__wab_flex-container) > *,
.freeBox__pfQnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pfQnz > :global(.__wab_flex-container) > picture > img,
.freeBox__pfQnz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.button__clDv:global(.__wab_instance) {
  max-width: 100%;
  width: 125px;
  flex-shrink: 0;
}
.svg__kZgaw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3__kZgawZfQlj {
  display: none;
}
.svg__m2H89 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__u4TNr:global(.__wab_instance) {
  max-width: 100%;
  width: 125px;
  flex-shrink: 0;
}
.svg___4Ibb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3___4IbbZfQlj {
  display: none;
}
.svg__wgq8Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__jBmwv:global(.__wab_instance) {
  max-width: 100%;
  width: 125px;
  flex-shrink: 0;
}
.svg__qmU1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3__qmU1ZfQlj {
  display: none;
}
.svg__v3GVy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hwumw {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px 0px 12px;
  border-bottom: 1px solid #f4f4f4;
}
.freeBox__a9Km {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__ntm3L {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__mXs13 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__gFPo0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___94NCe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__nQ3Cf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ynpBj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__imTq1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hld9U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.text__mbgny {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__hTkV {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__hTkV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hTkV > :global(.__wab_flex-container) > *,
.freeBox__hTkV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hTkV > :global(.__wab_flex-container) > picture > img,
.freeBox__hTkV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.paidFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uELaa {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__oFcxS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__jv1JY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__w9S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField___9F5Jl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text__kfLm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zm66W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField__ifuXk:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
  margin: 0px;
}
.text__dDsFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eddLe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.formField__ng1Xk:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  align-self: center;
  min-width: 0;
  margin: 0px;
}
.text__npJ0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qhyJy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qhyJy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__qhyJy > :global(.__wab_flex-container) > *,
.freeBox__qhyJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qhyJy > :global(.__wab_flex-container) > picture > img,
.freeBox__qhyJy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox___2ZlDo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  cursor: pointer;
  padding: 8px;
}
.svg__ga4Nl {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__o5XRc {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__napU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__mt7Bc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__geoH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField__h3WgT:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text__ezVWf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__irRtO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField___6V76F:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text___7GCWv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5QlKv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField__f0FDy:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text__g0Dqy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__a2XfI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__nRa7Y {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nRa7Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__nRa7Y > :global(.__wab_flex-container) > *,
.freeBox__nRa7Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nRa7Y > :global(.__wab_flex-container) > picture > img,
.freeBox__nRa7Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__j8Vi8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.svg__bXwPj {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.donationFormList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4YuQe {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__zMbzq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__ar5Lj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ifQeZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField___9MJsi:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text___3SuTk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1Opud {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField__yxeyi:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text___96MwB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z8Ww6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.formField__lFuhX:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  margin: 0px;
}
.text__v1HHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__fexcO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__uc8Dc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uc8Dc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__uc8Dc > :global(.__wab_flex-container) > *,
.freeBox__uc8Dc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uc8Dc > :global(.__wab_flex-container) > picture > img,
.freeBox__uc8Dc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__zbC1I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.svg___9WGsu {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__dTpa1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  padding: 0px;
}
.freeBox__dTpa1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__dTpa1 > :global(.__wab_flex-container) > *,
.freeBox__dTpa1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dTpa1 > :global(.__wab_flex-container) > picture > img,
.freeBox__dTpa1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button___4L2GY:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
  width: 100%;
  min-width: 0;
}
.svg__o10Tc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg__qa3ZA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___2H6H:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jD3L8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8K0U9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editEvent {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.editEvent > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.editEvent > :global(.__wab_flex-container) > *,
.editEvent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEvent > :global(.__wab_flex-container) > picture > img,
.editEvent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.editEventeventState_editStep1 {
  display: flex;
}
.editEventeventState_editStep2 {
  display: flex;
}
.editEventeventState_editStep3 {
  display: flex;
}
.text__haGoA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__yXskS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editEventName {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventName > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventName > :global(.__wab_flex-container) > *,
.editEventName > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventName > :global(.__wab_flex-container) > picture > img,
.editEventName
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventNameeventState_editStep2 {
  display: none;
}
.editEventNameeventState_editStep3 {
  display: none;
}
.freeBox__aCoLe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__aCoLe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__aCoLe > :global(.__wab_flex-container) > *,
.freeBox__aCoLe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCoLe > :global(.__wab_flex-container) > picture > img,
.freeBox__aCoLe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__pb2R2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editName:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vo04D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cXhQi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__rkeqF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rkeqF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__rkeqF > :global(.__wab_flex-container) > *,
.freeBox__rkeqF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rkeqF > :global(.__wab_flex-container) > picture > img,
.freeBox__rkeqF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__rfsIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editDescription:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hMjFi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hMjFi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__hMjFi > :global(.__wab_flex-container) > *,
.freeBox__hMjFi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hMjFi > :global(.__wab_flex-container) > picture > img,
.freeBox__hMjFi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__zXs9Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox___50GWb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___50GWb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___50GWb > :global(.__wab_flex-container) > *,
.freeBox___50GWb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___50GWb > :global(.__wab_flex-container) > picture > img,
.freeBox___50GWb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__oJwNq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editAddress:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vwhJg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__plkdu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__brVLn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__brVLn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__brVLn > :global(.__wab_flex-container) > *,
.freeBox__brVLn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__brVLn > :global(.__wab_flex-container) > picture > img,
.freeBox__brVLn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__ztfDg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editVenue:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wtshY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fYh3D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ft3B2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button___8Zlb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qMrKr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.editEventCalendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventCalendar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventCalendar > :global(.__wab_flex-container) > *,
.editEventCalendar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventCalendar > :global(.__wab_flex-container) > picture > img,
.editEventCalendar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventCalendareventState_editStep1 {
  display: none;
}
.editEventCalendareventState_editStep2 {
  display: flex;
}
.editEventCalendareventState_editStep3 {
  display: none;
}
.freeBox__mz8Fw {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pkFoP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__nVhG2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xVws5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5Nlgl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__k7Un7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__v0Jqf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ojya9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___7HOo3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fW1R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___3Gw8H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.addDates {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__bkX8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addStartDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1F51Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addStartTime:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oioSg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addEndDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__x6SCd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addEndTime:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kuRKe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.button__j7727:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vpRgh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg__jgt5U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___5F1Hm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5F1Hm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___5F1Hm > :global(.__wab_flex-container) > *,
.freeBox___5F1Hm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5F1Hm > :global(.__wab_flex-container) > picture > img,
.freeBox___5F1Hm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.button__ahaN1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hV4Mi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__lKzf9:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iLdW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventState_editStep1__iLdWAkWDr {
  display: none;
}
.svg__ranKe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.editEventTickets {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.editEventTickets > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.editEventTickets > :global(.__wab_flex-container) > *,
.editEventTickets > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.editEventTickets > :global(.__wab_flex-container) > picture > img,
.editEventTickets
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.editEventTicketseventState_editStep1 {
  display: none;
}
.editEventTicketseventState_editStep2 {
  display: none;
}
.freeBox__qr0IB {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__jyOg0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__rfQae {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ksDlx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__prRk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qPf89 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___8Mpli {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kncSd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___0YzJg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6CJf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___88Ja {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.addTickets {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox___4Fb7E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.addTicketType:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__pLzX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketName:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wlf1A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3KiFt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___6QQoB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketQuantity:global(.__wab_instance) {
  max-width: 100%;
}
.svg__j54Qm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lhxx7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xoqSb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.addTicketPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qecYb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hTwh0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ldeHe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.button__dNeCi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qOoB9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg___7DUWo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___5Uv2W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__peIfl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bJyKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__t4QkY:global(.__wab_instance) {
  max-width: 100%;
}
.svg___7GSed {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventState_editStep1___7GSedAkWDr {
  display: none;
}
.svg__zhFvu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
