.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.rooteventStep_step1 > * {
  grid-column: 4;
}
.rooteventStep_step2 > * {
  grid-column: 4;
}
.rooteventStep_step3 > * {
  grid-column: 4;
}
.navbar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.conditionGuard:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iW8N8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 200px;
}
.freeBox__iW8N8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__iW8N8 > :global(.__wab_flex-container) > *,
.freeBox__iW8N8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iW8N8 > :global(.__wab_flex-container) > picture > img,
.freeBox__iW8N8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.options:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 50px;
}
.newEvent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.eventName:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.eventNameeventStep_step2:global(.__wab_instance) {
  display: none;
}
.eventNameeventStep_step3:global(.__wab_instance) {
  display: none;
}
.freeBox__yzbTz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 0px;
}
.freeBox__yzbTz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__yzbTz > :global(.__wab_flex-container) > *,
.freeBox__yzbTz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yzbTz > :global(.__wab_flex-container) > picture > img,
.freeBox__yzbTz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox___2LYn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text__o125K {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__o125KbbMwL {
  width: auto;
}
.freeBox___9MvyM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text__tkJoe {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__tkJoEbbMwL {
  width: auto;
}
.freeBox__qoIze {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text___6Et6P {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3___6Et6PbbMwL {
  width: auto;
}
.text__jcGMh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
}
.formField__kLt3H:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ya7S8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mEg0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__mwty0:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__w0GHu:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 0px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.formField__u0Ar:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9PV3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__moRlg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.formField__qRHzl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eRlY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wWrg6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__y0Lij {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___2VEz1:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gwxUa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svgeventStep_step1__gwxUate1ZK {
  display: none;
}
.svg__aCw4X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__y4P9K {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBoxeventStep_step1__y4P9Kte1ZK {
  display: none;
}
.freeBoxeventStep_step3__y4P9KbbMwL {
  display: flex;
}
.freeBox__yKpx6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__rf1NR {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__rf1NRbbMwL {
  width: auto;
}
.freeBox__xfQdo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__wqi5F {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__wqi5FbbMwL {
  width: auto;
}
.freeBox__pnLRs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text__o66I4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__o66I4BbMwL {
  width: auto;
}
.freeBox__khD4X {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBoxeventStep_step1__khD4Xte1ZK {
  display: none;
}
.freeBoxeventStep_step3__khD4XbbMwL {
  display: flex;
}
.freeBox___4FTyD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__ho81T {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__ho81TbbMwL {
  width: auto;
}
.freeBox__uwW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__pgu5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__pgu5BbMwL {
  width: auto;
}
.freeBox___05R1F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text___3JwXm {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3___3JwXmbbMwL {
  width: auto;
}
.freeBox__xtByl {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.freeBoxeventStep_step3__xtByLbbMwL {
  display: none;
}
.freeBox__mxHMb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text___9AvgL {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3___9AvgLbbMwL {
  width: auto;
}
.freeBox__tRpvA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__vtZv3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__vtZv3BbMwL {
  width: auto;
}
.freeBox__oYty {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text__jGsma {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__jGsmabbMwL {
  width: auto;
}
.freeBox__yp5Hp {
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.freeBoxeventStep_step2__yp5HpOVvWp {
  display: flex;
}
.freeBox__xu1Bh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 25px;
  padding: 0px;
}
.freeBox__xu1Bh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__xu1Bh > :global(.__wab_flex-container) > *,
.freeBox__xu1Bh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xu1Bh > :global(.__wab_flex-container) > picture > img,
.freeBox__xu1Bh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__dUdWh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text__fvj50 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__fvj50BbMwL {
  width: auto;
}
.freeBox__g3SLp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text__vmfCi {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__vmfCIbbMwL {
  width: auto;
}
.freeBox__yHh7F {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text__k1MB {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__k1MBbbMwL {
  width: auto;
}
.freeBox__jpO0I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  min-width: 0;
  padding: 8px 0px 12px;
  border-bottom: 1px solid #e4e4e4;
}
.text__wpJP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  padding-right: 0px;
}
.freeBox__aqCaJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__aqCaJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox__aqCaJ > :global(.__wab_flex-container) > *,
.freeBox__aqCaJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aqCaJ > :global(.__wab_flex-container) > picture > img,
.freeBox__aqCaJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.selectStartDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.selectStartTime:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__m2A5T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__isofo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.selectEndDate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.selectEndTime:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__cLFyW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z3CFw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__n6YNf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 15px;
  padding: 8px;
}
.root .freeBox__n6YNf:hover {
  background: #f4dada;
}
.svg__ikNs7 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__phtIh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.datesFormListNew:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5FRc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox___5FRc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
}
.freeBox___5FRc > :global(.__wab_flex-container) > *,
.freeBox___5FRc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5FRc > :global(.__wab_flex-container) > picture > img,
.freeBox___5FRc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
}
.formField__dijTw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  align-self: flex-start;
  min-width: 0;
}
.text__hhf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  min-height: 50px;
  min-width: 0;
}
.formField__kYgQ2:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text___8HyRd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
.svg__oapeF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9Vt0U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.formField___5ItEj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  height: auto;
  min-width: 0;
}
.text___0Cl65 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateTimePicker4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 50px;
  min-width: 0;
}
.formField___7Duhb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  min-width: 0;
}
.text__bY1GA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textInput10:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
}
.svg__rkIde {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lRqxK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__n1T2Z {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 15px;
  padding: 8px;
}
.root .freeBox__n1T2Z:hover {
  background: #f4dada;
}
.svg__xlhpX {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.button__t14Pc:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 25px;
}
.svg__eicx0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qc6F8 {
  padding-bottom: 0px;
}
.svg__sGjnq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.eventCalendar:global(.__wab_instance) {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: none;
  min-width: 0;
  display: none;
  padding: 0px;
}
.eventCalendareventStep_step1:global(.__wab_instance) {
  display: none;
}
.eventCalendareventStep_step2:global(.__wab_instance) {
  display: flex;
}
.eventCalendareventStep_step3:global(.__wab_instance) {
  display: none;
}
.freeBox__drYo0 {
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 0px;
}
.freeBox__drYo0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__drYo0 > :global(.__wab_flex-container) > *,
.freeBox__drYo0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__drYo0 > :global(.__wab_flex-container) > picture > img,
.freeBox__drYo0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBoxeventStep_step2__drYo0OVvWp {
  display: flex;
}
.button___0U0Dm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cGlNm {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 1em;
}
.svgeventStep_step2__cGlNmOVvWp {
  display: none;
}
.text__dWNmB {
  padding-bottom: 0px;
}
.svg___7FCaw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pLdqt {
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #0000001c;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 25px;
  border: 1px solid #eceef2;
}
.freeBoxeventStep_step2__pLdqtoVvWp {
  display: none;
}
.freeBoxeventStep_step3__pLdqTbbMwL {
  display: flex;
}
.freeBox__zcpl5 {
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 30px;
  display: none;
  padding: 0px;
}
.freeBox__zcpl5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__zcpl5 > :global(.__wab_flex-container) > *,
.freeBox__zcpl5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zcpl5 > :global(.__wab_flex-container) > picture > img,
.freeBox__zcpl5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBoxeventStep_step3__zcpl5BbMwL {
  display: flex;
}
.freeBox__tegZq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text__x2EjR {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__x2EjRbbMwL {
  width: auto;
}
.freeBox__l1AIz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.text__zR5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__zR5BbMwL {
  width: auto;
}
.freeBox___53Gm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
  border-bottom: 4px solid var(--token-Y4FX9LFslfTe);
}
.text__l4Nuh {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texteventStep_step3__l4NuhbbMwL {
  width: auto;
}
.freeBox___667US {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 28px;
  min-width: 0;
  padding: 8px 0px 12px;
  border-bottom: 1px solid #e4e4e4;
}
.text__fdJu0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  padding-right: 0px;
}
.editTickets:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox___0AhDu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__dQdvF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___7BnZw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__dWCwZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__yPi3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__trwAy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__fLDrd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pxPm0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__xBlFq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___69Vl7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.text__nrYYo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___37Jed {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 50px;
  min-width: 0;
  padding: 15px;
  border: 1px solid #e7ecf1;
}
.freeBox___37Jed > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___37Jed > :global(.__wab_flex-container) > *,
.freeBox___37Jed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___37Jed > :global(.__wab_flex-container) > picture > img,
.freeBox___37Jed
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text___2S0S9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xi8K {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uxNuf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.selectTicketType:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.inputTicketName {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.inputTicketName2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jOs99 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0SrZf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__xjv0R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.inputTicketQuantity:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nq2Oq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ko14O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__wrpMx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.inputTicketPrice:global(.__wab_instance) {
  max-width: 100%;
}
.svg__mb1PK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gzmla {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.freeBox__fA2Ea {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fA2Ea > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__fA2Ea > :global(.__wab_flex-container) > *,
.freeBox__fA2Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fA2Ea > :global(.__wab_flex-container) > picture > img,
.freeBox__fA2Ea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.freeBox__zHrOg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  cursor: pointer;
  padding: 8px;
}
.svg__yygZc {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.button__ly9Ue:global(.__wab_instance) {
  max-width: 100%;
  width: 125px;
}
.svg__crhrF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svgeventStep_step3__crhrFbbMwL {
  display: none;
}
.svg__v8JPe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__k5QJm:global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.svg___45Gtx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.svg__yW6Oo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 100px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
