.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__myoHd {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 35px;
  grid-column-gap: 25px;
  min-width: 0;
  padding: 8px;
}
.freeBox__syw7H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.freeBox__syw7H > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__syw7H > :global(.__wab_flex-container) > *,
.freeBox__syw7H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__syw7H > :global(.__wab_flex-container) > picture > img,
.freeBox__syw7H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__ilvYi {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.text__ihZd5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__w1GCk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.freeBox__w1GCk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__w1GCk > :global(.__wab_flex-container) > *,
.freeBox__w1GCk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w1GCk > :global(.__wab_flex-container) > picture > img,
.freeBox__w1GCk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__lDChV {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.text__hCHp4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__nsqLq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 24px;
  margin-top: 50px;
  color: #868686;
  text-align: center;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  object-fit: cover;
  box-shadow: 0px 4px 16px 0px #00469517;
  margin-top: 22px;
  min-width: 0;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ecf1f4;
}
.formField__cfZ2E:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__nlpmU {
  font-weight: 500;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wwc0H:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__cDshq {
  font-weight: 500;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vdcnx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__i038D {
  font-weight: 500;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__d0QMv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__dHrng {
  font-weight: 500;
}
.freeBox__vFcaf {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vFcaf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__vFcaf > :global(.__wab_flex-container) > *,
.freeBox__vFcaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vFcaf > :global(.__wab_flex-container) > picture > img,
.freeBox__vFcaf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0WDqv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___0WDqv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___0WDqv > :global(.__wab_flex-container) > *,
.freeBox___0WDqv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0WDqv > :global(.__wab_flex-container) > picture > img,
.freeBox___0WDqv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__lfg93 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #787878;
  font-size: 12px;
  min-width: 0;
}
.priceSwitch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: calc(0px + 5px) !important;
}
.formField__bjOFr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__cAs9 {
  font-weight: 500;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2Yur1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 175px;
  max-width: 100%;
  overflow: hidden;
  padding: 8px;
}
.img__fdUaZ {
  object-fit: cover;
  max-width: 100%;
}
.img__fdUaZ > picture > img {
  object-fit: cover;
}
.button__aYtFr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 12px;
  min-width: 0;
}
.svg___489C0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__bqjJm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dragAndDropUploader:global(.__wab_instance) {
  max-width: 100%;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__hOuQp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g46Rt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__nwZyr {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__azDbq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 8px;
}
.img__yl62S {
  object-fit: cover;
  max-width: 100%;
}
.img__yl62S > picture > img {
  object-fit: cover;
}
.button__cyInQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 12px;
  min-width: 0;
}
.svg__vsPA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__j391E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__pNkYx {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__umP94 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 75px;
  max-width: 100%;
  overflow: hidden;
  padding: 8px;
}
.img__r8QtR {
  object-fit: cover;
  max-width: 100%;
}
.img__r8QtR > picture > img {
  object-fit: cover;
}
.dragAndDropFiles:global(.__wab_instance) {
  max-width: 100%;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__bNiJq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rExeF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ktBjL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ruJyu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
