.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox___1Kqdw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___5We8L {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 70%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 35px;
  grid-column-gap: 25px;
  padding: 8px;
}
.freeBox__q0QPl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.freeBox__q0QPl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__q0QPl > :global(.__wab_flex-container) > *,
.freeBox__q0QPl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q0QPl > :global(.__wab_flex-container) > picture > img,
.freeBox__q0QPl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___3Sudh {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.text__jwRkD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__bSeh6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 8px;
}
.freeBox__bSeh6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bSeh6 > :global(.__wab_flex-container) > *,
.freeBox__bSeh6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bSeh6 > :global(.__wab_flex-container) > picture > img,
.freeBox__bSeh6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___4Zt24 {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.text__fdCuk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__rClam {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: auto;
  height: auto;
  max-width: 100%;
  grid-row-gap: 35px;
  grid-column-gap: 35px;
  padding: 8px;
}
.freeBox__chBf8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #0049780f;
  cursor: pointer;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__gk9Sg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.img__dNh5I {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__dNh5I > picture > img {
  object-fit: cover;
}
.freeBox___73KYw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px;
}
.freeBox__hzL2Y {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__pgWh {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
}
.img__pgWh > picture > img {
  object-fit: cover;
}
.text__ocltd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  min-width: 0;
}
.text__rQag1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 0;
}
.freeBox__sq1V5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__cnCnj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.text__sHPr6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.text__a0Aca {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.freeBox__o6GWf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 16px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__o6GWf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__o6GWf > :global(.__wab_flex-container) > *,
.freeBox__o6GWf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o6GWf > :global(.__wab_flex-container) > picture > img,
.freeBox__o6GWf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button___5Ma1X:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 0px;
  align-self: center;
  min-width: 0;
}
.svg__pwG3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wKqyn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yq2Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 50px 8px 12px;
}
.button__h2Szg:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__muDkI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zntv8 {
  color: #ffffff;
}
.svg___8AhyN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rK3Y {
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 100%;
  align-self: flex-end;
  color: var(--token-COF46JTyVgAT);
  min-height: 0;
}
